<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        Nom : <input type="text" v-model="firstName"> <br/>
        Prenom : <input type="text" v-model="lastName"> <br/>
        Full Name: <span> {{ fullName }} </span> <br/>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false;

    new Vue({
        el: '#root',
        data: {
            firstName: 'zhang',
            lastName: 'san',
            fullName: 'zhang - san'
        },
        watch: {
            firstName(newValue){
                setTimeout(()=>{
                    this.fullName = newValue + ' - ' + this.lastName
                }, 1000)
            },
            lastName(newValue){
                this.fullName = this.firstName + ' - ' + newValue
            }
        }
    })

</script>
</html>