<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>Person List</h2>
        <input type="text" placeholder="Please enter name" v-model="keyWord">
        <ul>
            <li v-for="person in filPersons" :key="person.id">
                Name: {{ person.name }} - Age: {{ person.age }} - Sex: {{ person.sex }}
            </li>
        </ul>
    </div>
</body>

<script text="text/javascript">
    Vue.config.productionTip = false

    // use watch
    //#region 
    // new Vue({
    //     el: '#root',
    //     data: {
    //         keyWord: '',
    //         persons: [
    //             {id: '001', name: '马冬梅', age: '18', sex: 'F'},
    //             {id: '002', name: '周冬雨', age: '19', sex: 'F'},
    //             {id: '003', name: '周杰伦', age: '20', sex: 'M'},
    //             {id: '004', name: '温兆伦', age: '21', sex: 'M'},
    //         ],
    //         filPersons: []
    //     },
    //     watch: {
    //         keyWord:{
    //             immediate: true,
    //             handler(newValue) {
    //                 this.filPersons = this.persons.filter((person)=>{
    //                     return person.name.indexOf(newValue) !== -1
    //                 })
    //             }
    //         }
    //     }
    // })
    //#endregion

    // use computed
    new Vue({
        el: '#root',
        data: {
            keyWord: '',
            persons: [
                {id: '001', name: '马冬梅', age: '18', sex: 'F'},
                {id: '002', name: '周冬雨', age: '19', sex: 'F'},
                {id: '003', name: '周杰伦', age: '20', sex: 'M'},
                {id: '004', name: '温兆伦', age: '21', sex: 'M'},
            ],
        },
        computed: {
            filPersons() {
                return this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWord) !== -1
                })
            }
        }

    })

</script>
</html>