<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>姓名案例_methods实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        Nom : <input type="text" v-model="firstName"> <br/>
        Prenom : <input type="text" v-model="lastName"> <br/>
        Full Name: <span>{{ fullName() }}</span> <br/>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false;

    new Vue({
        el: '#root',
        data: {
            firstName: 'zhang',
            lastName: 'san'
        },
        methods: {
            fullName() {
                return this.firstName + '-' + this.lastName
            }
        }
    })

</script>
</html>